.git
.github
node_modules
app
test
tmp

Dockerfile.dev
docker-compose.dev.yml
README.md
CONTRIBUTING.md
CODEOWNERS
LICENSE-AGPL.md
LICENSE-COMMERCIAL.md
justfile
restart.sh

.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
